
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-2-1 {
  position: absolute;
  position: relative;
  width: 100%;
  height: auto;
}

.image-1-2 {
  position: absolute;
  width: 100%;
  height: auto;
}

.text-3 {
  position: absolute;
  top: 26px;
  left: 100px;
  font-size: 96px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
}

.rectangle-5-4 {
  position: absolute;
  left: 100px;
  top: 185px;
  width: 1300px;
  height: 125px;
  background-color: white;
  opacity: 0.5;
  border-radius: 30px;
}

.rectangle-6-5 {
  position: absolute;
  left: 90px;
  top: 800px;
  width: 350px;
  height: 125px;
  background-color: white;
  opacity: 0.9;
  border-radius: 30px;
}

.text-6 {
  position: absolute;
  left: 100px;
  top: 800px;
  font-size: 96px;
  font-weight: normal;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.text-7 {
  position: absolute;
  left: 440px;
  top: 440px;
  font-size: 96px;
  font-family: var(--font-family-inria-sans);
  font-weight: normal;
  text-align: left;
  color: rgba(255, 230, 8, 1);
}

